@charset "utf-8";

body{
    background-image: linear-gradient(rgba(255,255,255,0.6), rgba(255,255,255,0.5)),
    url("Image/tokyo travel.png");
    /*写在前面的代码在“上面”，写在后面的在“下面”
    linear-gradient(...)（这层在上面）：
    虽然它是“渐变”函数，但因为你前后的颜色都写了一模一样的 rgba(255, 255, 255, 0.5)，
    所以它就变成了一个纯色的半透明白色遮罩。
    0.5 代表 50% 的透明度。数值越小，白色越淡；数值越大，白色越浓（图片就越看不清）。*/
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: cover;
}

a{
    background-color: rgb(219, 214, 214);
    display: inline-block;/*把它变成一个box来操作，否则变大不能显示*/
    font-size: 17px;
    margin: 10px;
}

a:link{
    color: rgb(223, 63, 188);
}
a:visited{
    color:brown;
}
a:hover{
    color:rgb(84, 85, 78,0.7);
    transform: scale(1.1);
}
a:active{
    color: rgb(24, 56, 233);
}


.spot_title{
    font-size: 20px;
    font-weight: normal;
    line-height: 30px;
    text-indent: 2em;
    background-image: url("Image/sakura.png");
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 30px;
}

h2 span{
    font-weight: bold;
}

ol{
    height:100px;
    border:7px dotted pink;
    overflow: scroll;
    list-style: decimal;
    list-style-position: inside;/*列表的序号（1. 2. 3.）是不占盒子空间，所以到90%的外面去了*/
    /*border-top-width: 7px;*/
}

/*定制滚动条的样式*/
ol::-webkit-scrollbar {
    width: 8px;               /* 纵向滚动条宽度 */
    height:0px;              /* 横向滚动条高度 */
}

/* 滚动条滑块（那个会动的部分）：设为半透明 */
ol::-webkit-scrollbar-thumb {
    background: rgba(89, 78, 22, 0.5); /* 使用你主题的深棕色，加 0.3 透明度 */
    border-radius: 10px;               /* 让滑块变圆润，不突兀 */
}

.main_sec{
    width: 70%;
    margin: auto;
    padding-top: 30px;
}

h1{
    font-size:30px;
    font-weight: bold;
    text-align: center;
}

.lead{
    padding: 1em;
    margin:30px 0;
    background-color: #594e16;
    color: #ffffff;
    font-size: 1rem;
}

.spot_sec{
    margin-bottom: 30px;
    
}

.spot_txt{
    border-left: 1px solid #594e16;
    padding-left:1em;
    margin: 0 0 30px 1em;
}

